<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <title>GPT Latency</title>
</head>
<body>
  <div class="container">
    <h1>GPT Latency</h1>
    <div class="subtitle">
      <p>Monitoring OpenAI GPT API latency</p>
      <p><a href="https://github.com/adamkdean/gpt-latency">GitHub Repo</a></p>
    </div>

    TODO

  </div>
</body>
</html>
